fastapi
uvicorn[standard]

streamlit

langchain
langchain-core
langchain-community
langchain-mistralai
langchain-openai

openai

tavily-python

beautifulsoup4
lxml
requests

python-dotenv

pydantic

httpx
